@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

  *{
  font-family: 'Chakra Petch', sans-serif;
}
/* h1{
  font-family: 'Abril Fatface', cursive;
} */

body{
  background-color: #BACDDB;
}




